*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contener{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(pexels-todd-trapani-1420440.jpg);
   
    background-size: cover;
    background-position: center;


}
nav{
    width: 100%;
    height: 100px;
   
    color:rgb(250, 249, 249);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
}

.menu a {
    text-decoration: none;
    color: rgb(250, 247, 247);
    padding: 10px 20px;
    font-size: 20px;
    position: relative;

}
.menu a:before{
    content:'' ;
   
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}
.menu a:hover::before{
    width: 90%;


}
.register a{
    text-decoration: none;
    color: rgb(249, 243, 243);
    padding: 10px 20px;
    font-size: 20px; 
    background: indianred;
    border-radius: 25px;
    transition: 0.4s ;

}
.register a:hover{
    background: transparent;
    border: 1px solid indianred;
} 
    
   
.header{
    max-width: 650px;
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   color: white;

   
}
.header span{
    font-size: 20px;
    font-weight:200 ;
    letter-spacing: 5px;
    margin: 10px;
}
.header h1{
    font-size: 3.5em;
}
.header a{
    text-decoration: none;
    background: indianred;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.4s;
}
.header a:hover{
   
        background: transparent;
        border: 1px solid indianred;
     
}
